.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 4rem;
  height: 80vh;
  min-height: 600px;
  align-items: center;
}
